.personal-panel {
  gap: 1rem;
  & div {
    display: flex;
    gap: 1rem;
  }
  & img {
    border-radius: 50%;
    overflow: hidden;
    width: 3.5rem;
    height: 3.5rem;
  }
  & .perfil {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
  }
  & .insta {
    width: 3.5rem;
    height: 3.5rem;
  }
  & span {
    font-size: 2.2rem;
    font-family: "Madimi One", sans-serif;
    font-style: italic;
  }
  & section img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    border-radius: 0px;
  }
}
