.panel-PanelTwo {
  & span {
    font-size: 3rem;
  }
  & article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  & article section {
    display: flex;
    justify-content: center;
  }
}
