.navElement-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 4rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background-color: transparent;
  &:hover {
    background-color: green;
  }
  & div {
    transform: rotate(-90deg);
  }
}

.navElement-component.menu-highlight {
  background-color: red !important;
}
